body {
  background-color: #e5e5e5;
  margin: 0%;
  padding: 0%;
}

.back {
  background-color: #ffffff;
  margin: 0px 111px 0px 126px;
}

.bas {
  font-size: 72px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  border: 0px solid #000000;
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  padding-top: 97px;
  margin-left: 79px;
  margin-bottom: 21px;
}

#menu {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #000000;
  display: flex;
  flex-direction: row;
  line-height: 40px;
}

#backmenu {
  cursor: no-drop;
}

#backmenu:hover {
  background-color: #f5c852;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

.amenu {
  margin: 21px 38px 0px 79px;
  cursor: no-drop;
  color: #000000;
}

.bmenu {
  margin: 21px 38px 0px 0px;
  cursor: no-drop;
  color: #000000;
}

.cmenu {
  margin: 21px 0px 0px 0px;
  cursor: no-drop;
  color: #000000;
}

.bloklar {
  display: flex;
  flex-direction: column;
  padding-left: 79px;
  width: 905px;
}

.icerik {
  display: flex;
}

#anablok {
  width: 573px;
  height: 200px;
  left: 458px;
  top: 312px;
  margin-left: 45.56px;
}

.blok {
  display: flex;
  width: 902px;
  height: 200px;
  margin-top: 63px;
}
.anapics {
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pics {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}
.mKutular {
  display: flex;
  flex-wrap: wrap;
}
.mkutu {
  width: 76px;
  height: 76px;
  background: #c4c4c4;
  border-radius: 10px;
  margin-bottom: 8px;
}
.mkutu:nth-child(2n-1) {
  margin-right: 8px;
}

.kutu {
  width: 207.44px;
  height: 200px;
  left: 205px;
  top: 312px;
  background: #c4c4c4;
  border-radius: 30px;
}
.ablok {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.metn {
  height: 95px;
  width: 573px;
  left: 458px;
  top: 359px;
  border-radius: nullpx;
  color: #000000;
  margin-top: 14px;
}
#devam {
  cursor: no-drop;
  height: 30px;
  width: 110px;
  left: 458px;
  line-height: 50px;
  color: #000000;
}

#devam:hover {
  background-color: #f5c852;
  border-radius: 3px;
  width: 20px;
}

#cizgi {
  width: 900px;
  height: 0px;
  border: 1px solid #c4c4c4;
  margin: 42px 295px 0px 0px;
}

#foother {
  background: #f5c852;
  margin-top: 332px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.follow {
  margin-left: 30px;
  margin-top: 14px;
}

.inst {
  width: 31px;
  height: 31px;
  cursor: no-drop;
}
.twitter {
  width: 31px;
  height: 31px;
  cursor: no-drop;
}

.dpnt {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  margin-right: 50px;
  height: 40px;
}

.adpnt {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}
